<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card blue darken-1">
                <div class="card-content white-text">
                    <span class="card-title">About Tojiru</span>
                    <p>Tojiru is a custom server for the game osu! with all the features that every server should have,
                        such as ranked relax and autopilot, using our custom PP algorithm that makes competition
                        fair.<br>Tojiru gives everyone a second chance at osu! if you're restricted on the official
                        server, and has strict punishments on cheaters.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card blue darken-1">
                <div class="card-content white-text">
                    <span class="card-title">PP for AutoPilot and relax</span>
                    <p>Tojiru has a custom PP algorithm for AutoPilot and relax. Wanna show off how good you are at
                        tapping or aiming? Come play here!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card blue darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Fully private</span>
                    <p>As Tojiru requires you to apply or pay to join, it makes it harder for cheaters and
                        multiaccounters to play and ruin the spirit of the comunity!</p>
                </div>
            </div>
        </div>
    </div>

</div>