<div class="col s12">
    <div class="card white">
        <div class="card-content black-text">
            <h4>Welcome, <%= userData.username %> to the <b>T</b>ojiru <b>A</b>dmin <b>P</b>anel</h4>
            <p>There's not much yet, but there's more to come <3  </p>
        </div>
    </div>
</div>