<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card white darken-1">
                <div class="card-content black-text">
                    <span class="card-title">Rules</span>
                    <h4><i class="game icon"></i> General rules</h4>
                    <ol>
                        <li><strong>Cheating</strong> and any other form of hacking are strictly prohibited.</li>
                        <li><strong>Edited clients,</strong> with the exception for the next rule, are not allowed.</li>
                        <li><strong>Client patching</strong> (instead of host redirection) is allowed but we won&rsquo;t
                            help you if you break the client.</li>
                        <li><strong>Shared or boosted</strong> accounts are not allowed.</li>
                        <li>Don&rsquo;t try to <strong>exploit the server</strong>. If you intend to
                            report a vulnerability, do so responsibly and by contacting the developers.</li>
                        <li>Use an <strong>appropriate username</strong> (no offensive or <strong>stolen names</strong>,
                            e.g. you can&rsquo;t choose to be Cookiezi, WubWoofWolf, Rafis, _index, etc&hellip;)</li>
                        <li><strong>Don&rsquo;t abuse our patience;</strong> while we try to best satisfy our
                            users&rsquo; need, if you repeatedly infringe our rules or abuse services provided by the
                            staff (e.g. appealing and name changing) (with particular regard to users who also
                            disrespect our staff&rsquo;s efforts, passively or actively, or are otherwise toxic within
                            the community), we will first warn you, and if it comes to it we will offer an ultimatum. If
                            you refuse or otherwise don&rsquo;t change your behaviour, we&rsquo;ll have no choice but to
                            ban you.</li>
                    </ol>
                    <br>
                    <h4><i class="comment icon"></i> Chat rules</h4>
                    <ol>
                        <li>Avoid any kind of insults to people. Try to be friendly. If not, try to discuss in a
                            constructive manner.</li>
                        <li>Racial slurs are absolutely not allowed. Terms like &ldquo;retarded&rdquo;, and
                            &ldquo;autistic&rdquo; are fine on objects, definitely not on people.</li>
                        <li>Don&rsquo;t <strong>spam or flood</strong>, unless you&rsquo;re occasionally sending a link
                            to e.g. Twitch when you&rsquo;re streaming Tojiru when no discussion is going on.</li>
                        <li>Any kind of <strong>illegal content, warez, or viruses</strong> is strictly prohibited.
                            (This includes posting parts of source code that you have no legal right to share.)</li>
                        <li>No NSFW or gore content.</li>
                        <li>Unless it&rsquo;s a language channel, please speak English.</li>
                        <li>Don&rsquo;t make any kind of <strong>cheating accusation</strong> (Use #cheaterreporting on
                            Discord or report the person you suspect to a Community Manager)</li>
                        <li>Remember also to follow the <strong>General rules</strong> above!</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>