<div class="container">
    <h4>Verify your account</h4>
    <p>Your account has been registered, however, please <b>log in in-game</b> to verify your account.</p>
    <div id="register-page" class="row">
        <div class="col s12 z-depth-6 card-panel">
            <h5>The guide</h2>
            <ol>
                <li><a href="/static/switcher.exe">Download our server switcher</a></li>
                <li>Run it as admin</li>
                <li>Install the certificate and click connect</li>
            </ol>
        </div>
        <div class="col s12 z-depth-6 card-panel">
                <h5>Youtube Tutorial</h2>
                ((video here))
            </div>
    </div>
</div>